
/*基本設定*/
html, body {
    height: 100%;
  }

html {
    font-size: 14px;
    width:100%;
}

body{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:black;
}
ul {
    list-style: none;
  }
.text-dark {
    color: #343a40 !important;
}

.p-2 {
    padding: .5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}
.container-fluid{
    padding:0;
    margin:0;
}


/*ページ設定*/

#side{
    padding:0;
    margin:0;
    background-color:#F5F5F5;
    height:100%;
}
#side-content{
    margin-top:10%;
}

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}


/*条件付き設定*/
@media (min-width: 768px) {

    html {
        font-size: 16px;
    }
    table{
        padding-left:5%;
    }
}

@media (max-width:767px) {


    #side{
        display:none;
    }

