<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First</title>
    <!-- のCSS読み込み -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/frame.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>

<main role="main">
    <div class="container-fluid">
        <div class="row no-gutters" position="relative">
            <div class="offset-md-1 col-md-7 mr-auto">
                <a class=" offset-md-1 p-1" href="./index.html"><h1>研究一覧</h1></a>
                <h3 class="text-dark ">2020</h3>
                <div class="card mb-3 py-2" style="background-color:#F1F1F1"><a class="font-weight-bold" href="new-ex1.html">+新しい研究</a></div>
                <div  class="card row no-gutters  mb-3 shadow-sm ">
                    <a  href="card-content1.html" class="stretched-link text-decoration-none">
                        <table class="table table-borderless small  ">
                            <tr>
                                <td>
                                    <p class="card-text">kaiA 非存在下における減衰振動の発生メカニズム</p>
                                </td>
                                <td>
                                    <p class="card-text">責任者:大滝翔士</p>
                                </td>
                            </tr>
                        <table class="table table-borderless small offset-md-1 ">
                            <tr>
                                <td>結果の入力</td>
                                <td>プラスミド抽出</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>セルフライゲーション</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>ミュータジェネシスキッドによるDNA断片の複製</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div  class="card row no-gutters  mb-3 shadow-sm ">
                    <a  href="card-content1.html" class="stretched-link text-decoration-none">
                        <table class="table table-borderless small  ">
                            <tr>
                                <td>
                                    <p class="card-text">kaiA 非存在下における減衰振動の発生メカニズム</p>
                                </td>
                                <td>
                                    <p class="card-text">責任者:大滝翔士</p>
                                </td>
                            </tr>
                        <table class="table table-borderless small offset-md-1 ">
                            <tr>
                                <td>結果の入力</td>
                                <td>プラスミド抽出</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>セルフライゲーション</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>ミュータジェネシスキッドによるDNA断片の複製</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div  class="card row no-gutters  mb-3 shadow-sm ">
                    <a  href="card-content1.html" class="stretched-link text-decoration-none">
                        <table class="table table-borderless small  ">
                            <tr>
                                <td>
                                    <p class="card-text">kaiA 非存在下における減衰振動の発生メカニズム</p>
                                </td>
                                <td>
                                    <p class="card-text">責任者:大滝翔士</p>
                                </td>
                            </tr>
                        <table class="table table-borderless small offset-md-1 ">
                            <tr>
                                <td>結果の入力</td>
                                <td>プラスミド抽出</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>セルフライゲーション</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>ミュータジェネシスキッドによるDNA断片の複製</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div  class="card row no-gutters  mb-3 shadow-sm ">
                    <a  href="card-content1.html" class="stretched-link text-decoration-none">
                        <table class="table table-borderless small  ">
                            <tr>
                                <td>
                                    <p class="card-text">kaiA 非存在下における減衰振動の発生メカニズム</p>
                                </td>
                                <td>
                                    <p class="card-text">責任者:大滝翔士</p>
                                </td>
                            </tr>
                        <table class="table table-borderless small offset-md-1 ">
                            <tr>
                                <td>結果の入力</td>
                                <td>プラスミド抽出</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>セルフライゲーション</td>
                            </tr>
                            <tr>
                                <td>調査・手順の確認</td>
                                <td>ミュータジェネシスキッドによるDNA断片の複製</td>
                            </tr>
                        </table>
                    </a>
                </div>

            </div>
            <div id="side" class="sidebar col-md-3 h-auto" >

            </div>
        </div>
    </div>
</main>

</body></html>
