<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>new-ex1</title>
    <!-- のCSS読み込み -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/frame.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>

    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-unstyled border-left pl-10">
                        <ui>
                            <li class=" text-nowrap small pl-10 ">ファイル作成</li>
                            <br>
                            <li class=" text-nowrap small pl-10 ">調査・手順の入力</li>
                            <br>
                            <li class=" text-nowrap small pl-10 ">調査・手順の確認</li>
                            <li class=" text-nowrap small pl-10 ">結果の入力</li>
                            <li class=" text-nowrap small pl-10 ">考察の入力</li>
                            <li class=" text-nowrap small pl-10 ">最終確認</li>
                        </ui>
                    </div>
                        <p class=" text-nowrap small pl-10 ">実験完了・再実験・一時停止</p>
                </div>
                <div class="col-md-8 ">
                    <div class="card item-align-center">
                        <p class="p-3 text-dark card-body">プラスミド抽出 / 担当者:松村 / 進行中</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">実験の目的</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <button class="bg-gray"><a href="new-ex2.html">調査・手順の入力へ進む</a></button>
                </div>
            </div>
        </div>
    </main>

</body></html>
