<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>new-ex5</title>
    <!-- のCSS読み込み -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/frame.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>

    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-unstyled border-left pl-10">
                        <ui>
                            <li class=" text-nowrap small pl-10 ">ファイル作成</li>
                            <br>
                            <li class=" text-nowrap small pl-10 ">調査・手順の入力</li>
                            <br>
                            <li class=" text-nowrap small pl-20 ">担当者申請<br><p　class="small text-nowrap">メッセージ</p></li>
                            <li class=" text-nowrap small pl-20 ">担当者申請<br><p　class="small text-nowrap">メッセージ</p></li>
                            <li class=" text-nowrap small pl-20 ">担当者申請<br><p　class="small text-nowrap">メッセージ</p></li>
                            <li class=" text-nowrap small pl-10 ">調査・手順の確認</li>
                            <li class=" text-nowrap small pl-10 ">結果の入力</li>
                            <li class=" text-nowrap small pl-10 ">考察の入力</li>
                            <li class=" text-nowrap small pl-10 ">最終確認</li>
                        </ui>
                    </div>
                        <p class=" text-nowrap small pl-10 ">実験完了・再実験・一時停止</p>
                </div>
                <div class="col-md-8 ">
                    <div class="card item-align-center">
                        <p class="p-3 text-dark card-body">プラスミド抽出 / 担当者:松村 / 進行中</p>
                    </div>
                    <p>実験の目的</p>
                    <div class="card item-align-center">
                        <p class="p-3 text-dark card-body">生成された目的のプラスミドを大腸菌から抽出して、後にシアノバクテリアにプラスミド挿入するため</p>
                    </div>
                    <div class="card">
                        <ui class="p-3 list-group text-dark card-body">
                            <li class="list-group-item">セレクション (液体培地での育成)</li>
                            <li class="list-group-item">外部ファイル.pdf</li>
                            <li class="list-group-item">論文URL</li>
                        </p>
                    </div>
                    <p>実験の手順</p>
                    <div class="card">
                        <p class="p-3 text-dark card-body">
                            1. QIA prep Spin Miniprep の箱を持ってくる
                            <br>2. 机上に、有機廃液びん、ガラス試験管、生物ゴミ箱、ビニル手袋を用意
                            <br>3. 液培 (大腸菌入り) 1.4mlをエッペンチューブに入れる
                            <br>4. 13,000rpm 5min RT
                            <br>5. 上清を生物ゴミに捨てる 残ってたらピペットマンで吸う
                            <br>6. ButterD1 250 μl ★ RNAse  ※1 ※2
                            <br>7. ボルテックス or チューブミキサー に溶けるまで (よく)
                            <br>8. Butter D2 250μl アルカリ(大腸菌粉砕) 4~6回も転倒緩和 (青)
                            <br>9. Butter N3 350μl 中性にする (青)→(無色) ※3
                            <br>10. 17.9g 10min 23℃
                            <br>11. 上清をピペットを使ってQIA prep2.0 に入れる  ※4
                            <br>12. 17.9g 1min 23℃
                            <br>13. 下清を有機廃液へ捨てる ★
                            <br>14. Butter PB 500μl イソプロパノール ※5
                            <br>15. 17.9 g 1min 23℃
                            <br>16. 下清を有機廃液へ捨てる ★
                            <br>17. Butter PE 750μl 洗浄エタノール ※5
                            <br>18. 17.9 g 1min 23℃
                            <br>19. 下清を有機廃液へ捨てる ★
                            <br>20. 17.9 g 1min 23℃
                            <br>21. 青い部分をエッペンチューブに取り付ける
                            <br>22. DW 30μl (50μl) を白いところにじわりと当たるように入れる
                            <br>23. 1分間静置する
                            <br>24. 17.9g 2min 23℃
                            <br>25. 青い部分を外す
                            <br>26. Nano drop　で濃度測定する ※6
                            <br>27. エッペンチューブに濃度を書いて、−20℃の冷蔵庫に入れる
                            <br>
                            <br>※1：4℃の棚に置いてある。RNAseなので、パラフィルムを巻くように。これ以降、チップのゴミなどはビニール袋の中に入れ、Pゴミに捨てる
                            <br>※2：この操作は、5分以内にやる。アルカリに長時間さらすのはよくない。
                            <br>※3：★が書いてある溶液は蓋をいつも逆向きに置く。 (図あり)
                            <br>※4：QIA prep 2.0 (図あり)の青い方にサンプル名をかいておく。ラップをかけておく
                            <br>※5：吸った後に垂れてしまうので、ピペッティングを3回くらいしてから入れる。エタノールの方は、特にはねやすいので注意
                            <br>※6：グリーンベンチの向かい側にある。やり方↓↓</p>
                    </div>
                    <p>実験の結果</p>
                    <div class="card">
                        <img src="../static/img/_2020-09-29_18.32 1.png">
                        <p class="p-3 text-dark card-body">
                            プラスミド名：PIL86 (Dtrk-kaiBC) DW 50μl で抽出
                            <br>
                            グラフにかかれたPIL86-1 のこの数字はコロニーの名前 (自分でつけた)
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">実験の考察</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1"  rows="12"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="コメント（任意）" rows="2"></textarea>
                    </div>
                    <button class="bg-gray offset-md-4 col-md-4"><a href="res-new-ex3.html">最終確認を申請する</a></button>
                </div>
            </div>
        </div>
    </main>

</body></html>
