<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>res-new-ex1  </title>
    <!-- のCSS読み込み -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/frame.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>
    <main role="main">
        <div class="container-fuluid mt-5">
            <div class="row">
                <div class="col-md-2">
                    <div class="v_line list-unstyled pl-10 ml-4">
                        <ui>
                            <li class="text-nowrap small pl-3 my-2">ファイル作成</li>
                            <br>
                            <li class="text-nowrap small pl-3 my-2">調査・手順の入力</li>
                            <br>
                            <li class="text-nowrap small pl-3 my-2">調査・手順の確認</li>
                            <li class="text-nowrap small pl-3 my-2">結果の入力</li>
                            <li class="text-nowrap small pl-3 my-2">考察の入力</li>
                            <li class="text-nowrap small pl-3 my-2">最終確認</li>
                        </ui>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="card item-align-center">
                        <p class="p-3 text-dark card-body">プラスミド抽出 / 担当者:松村 / 進行中</p>
                    </div>
                    <p>実験の目的</p>
                    <div class="card item-align-center">
                        <p class="p-3 text-dark card-body">生成された目的のプラスミドを大腸菌から抽出して、後にシアノバクテリアにプラスミド挿入するため</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">実験の調査</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">実験の手順</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="コメント（任意）" rows="2"></textarea>
                    </div>
                    <button class="btn rounded-0 offset-md-3 col-md-5" style="background-color:#c4c4c4;"><a href="res-new-ex2.html">調査・手順の確認を申請する</a></button>
                </div>
            </div>
        </div>
    </main>

</body></html>
